NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/recurr_db?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379

API_KEY_PREFIX="sk_test"
LIVE_API_KEY_PREFIX="sk_live"
MERCHANT_SESSION_SECRET="replace-this-with-a-secure-merchant-session-secret"

NOMBA_BASE_URL="https://api.nomba.com"
NOMBA_CLIENT_ID=""
NOMBA_CLIENT_SECRET=""
NOMBA_ACCOUNT_ID=""
NOMBA_WEBHOOK_SIGNING_KEY="NombaHackathon2026"

APP_BASE_URL="http://localhost:5000"
FRONTEND_BASE_URL="http://localhost:5173"
